{% extends "encyclopedia/layout.html" %}

<!--This page handles the Create New page-->

{% block title %}
    Create New Entry
{% endblock %}

{% block body %}


    <h1>Create New Page</h1>

<!--TO-DO: The style here is absolutely horrible.-->
    <div class='form_container'>
      <form class='editor' action='{% url "new" %}' method="post">
        {% csrf_token %}
        <input class='title' type='text' name='title' Placeholder='Enter Title'>
        <input class='content_entry' type='textarea' name='content' Placeholder='Enter Content'>
        <button type='submit'>
      </form>
    <div>


{% endblock %}
