{% extends "encyclopedia/layout.html" %}

<!--This page handles the Create New page. (Fourth spec)-->

{% block title %}
    Create New Entry
{% endblock %}

{% block body %}

    <h1>Create New Page</h1>

    <div>
      <form class='editor' action='{% url "save" %}' method='post'>
        {% csrf_token %}
        <div>
          <input class='title' type='text' name='title' Placeholder='Enter Title'>
        </div>
        <div>
          <textarea style='height: 500px' name='content' Placeholder='Enter Markdown Content'></textarea>
        </div
        <div>
          <input type='submit'>
        </div>
      </form>
    <div>


{% endblock %}
