{% extends "encyclopedia/layout.html" %}

<!--This page handles the Create New page-->

{% block title %}
    Create New Entry
{% endblock %}

{% block body %}

    <h1>Create New Page</h1>
    
    <div class='form_container'>
      <form class='editor' action='{% url "new" %}' method="post">
        {% csrf_token %}
        <input class='title' type='text' name='title' Placeholder='Enter Title'>
        <textarea name='content' Placeholder='Enter Markdown Content'></textarea>
        <input type='submit'>
      </form>
    <div>


{% endblock %}
