{% extends "encyclopedia/layout.html" %}

<!--This page handles edits to existing entries-->

{% block title %}
    Edit {{ name }}
{% endblock %}

{% block body %}

  <h1>Edit: {{ name }}</h1>
    <div class='form_container'>
      <form class='editor' action='{% url "overwrite" %}' method="post">
        {% csrf_token %}
        <input type='hidden' name='name' value='{{ name }}'>
          <!--Hidden field holds & submits the original entry's name-->
        <textarea name='content'>{{ entry }}</textarea>
        <input type='submit' value='Save'>
      </form>
    <div>


{% endblock %}
