{% extends "encyclopedia/layout.html" %}

<!--This page handles edits to existing entries-->

{% block title %}
    Edit {{ name }}
{% endblock %}

{% block body %}

  <h1>Edit: {{ name }}</h1>
    <div class='form_container'>
      <form class='editor' action='{% url "overwrite" %}' method="post">
        {% csrf_token %}
        <!--Hidden field holds & submits the original entry's name-->
        <input type='hidden' name='name' value='{{ name }}'>
        <div>
          <textarea style='height: 500px' name='content'>{{ entry }}</textarea>
        </div>
        <div>
          <input type='submit' value='Save'>
        </div>
      </form>
    <div>


{% endblock %}
