{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
<!--li hyperlinks point to wiki/{entry} URL -> views.title() -> util.get_entry() -> Entry.html.
    (2nd spec) -->
            <li><a href="wiki/{{ entry }}">{{ entry }}</a></li>
        {% endfor %}
    </ul>

<div>
  Note: The "ReadMe" file in project's main directory explains how each spec was implemented.
</div>

{% endblock %}
